*, ::before, ::after{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: red;

}
h1, h2, p {
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
.section-title{
    position: relative;
    font-size: 2rem;
    color: red;
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
}
.section-title::after{
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: red;
}
.hakkımda{
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.ızgara{
    max-width: 1024px;
    display: flex;
    margin-left: 1rem;
    margin-right: 1rem;
}

.header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100 ;
    background-color: #fff;
    box-shadow: 0 0.5px 4px rgb(0, 255, 0);
}
.nav{
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}

@media screen and (max-widht: 800px) {
    .nav__2{
        position: fixed;
        top: 3rem;
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background-color: red;
        transition: .4s;
    }
    
}

.li__1{
    margin-bottom: 2rem;
}
.li__2{
    position: relative;
    color: red;
}
.li__2:hover{
    position: relative;
    background-color: rgb(0, 255, 0);
    border-radius: 4px;
}

.li__2:hover::after{
    position: absolute;
    content: '';
    background: yellow;
    left: 0;
    top: 2rem;
    background-color: red;
}
.logo{
    color: red;
}

.active::after {
    position: absolute;
    content: '';
    background: red ;
    left: 0;
    top: 2rem;
    background-color: rgb(0, 245, 0);
}

.anasayfa__1{
    position: relative;
    row-gap: 5rem;
    padding: 10rem 0 5rem;
}
.anasayfa__2{
    align-self: center;
}
.anasayfa__başlık{
    padding-left: 100px;
    font-size: 3rem;
    margin-bottom: 2.5rem;
    padding-right: 100px;
    color: black;
}

.anasayfa__2{
  width: 100%;
  overflow: hidden;

}
.galeri{
  position: relative;
  width: 400%;
  left: 0;
  animation: 12s slayt infinite;
}

.galeri img{
  width: 25%;
  float: left;
}
@keyframes slayt{
  0%{left: 0%;}
  20%{left:0%;}
  25%{left: -100%;}
  45%{left: -100%;}
  50%{left: -200%;}
  70%{left: -200%;}
  75%{left: -300%;}
  90%{left: -300%;}
}
.hakkımda__container{
  row-gap: 2rem;
  text-align: center;

}
.hakkımda__altbaşlık2{
  margin-bottom: 1rem;
  padding-left: 300px ;
  font-size: 3rem ;
}

.hakkımda__yazı{
    font-size: 21px;
    padding-left: 500px;
    color: rgb(12, 11, 11);
}
  .hakkımda__altbaşlık{
  padding-left: 10%;
}
.hakkımda__resim{
    width: 10px;
    justify-self: center;
    padding-left: 10px;
}
.hakkımda__resim img{
    width: 500px;
}

.footer {
  background-color: rgb(255, 17, 0);
  color: #fff;
  text-align: center;
  font-weight: 600;
  padding: 2rem 0;
}
.footer__title {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.footer__social {
  margin-bottom: 3rem;
}
.footer__icon {
  font-size: 3.5rem;
  color: rgba(0, 60, 255, 0.904);
  margin: 0 1rem;
}


/* ===== MEDIA QUERIES=====*/
@media screen and (max-width: 320px) {
    .anasayfa {
      row-gap: 2rem;
    }
    .anasayfa__resim {
      width: 200px;
    }
  }
  @media screen and (min-width: 576px) {
    .anasayfa {
      padding: 4rem 0 2rem;
    }
    .anasayfa__resim {
      width: 300px;
      bottom: 25%;
    }
    
    
    .hakkımda__container {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      text-align: initial;
    }
  }
  @media screen and (min-width: 768px) {
    body {
      margin: 0;
    }
    .section {
      padding-top: 4rem;
      padding-bottom: 3rem;
    }
    .hakkımda-başlık {
      margin-bottom: 3rem;
    }
    .hakkımda-başlık::after {
      width: 80px;
      top: 3rem;
    }
    .nav {
      height: 4rem;
      height: 4.5rem;
    }
    .ul__1 {
      display: flex;
      padding-top: 0;
    }
    .li__1 {
      margin-left: 3rem;
      margin-bottom: 0;
    }
    .li__2 {
      color: red;
    }
    .anasayfa {
      padding: 8rem 0 2rem;
    }
    .anasayfa__resim {
      width: 500px;
      bottom: 10%;
    }
    .hakkımda__container {
      padding-top: 2rem;
    }
    .hakkımda__resim img {
      margin-top: 100px;
      border-radius: 15px;
      width: 550px;
      height: 400px;
    }
   
  }
  @media screen and (min-width: 992px) {
    .ızgara {
      margin-left: auto;
      margin-right: auto;
    }
    .anasayfa {
      padding: 10rem 0 2rem;
    }
    .anasayfa__resim {
      width: 350px;
      top: 45px;
    }
  }